{% extends 'master.html' %}

{% block title %} Crear Matriculas {% endblock %}
{% block content %}
    <h1 style="width: 100%">Agregar matricula</h1>
    <form method="post">
        <p>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre"
                   placeholder="Ingrese nombre" required>
            </input>
        </p>

        <p>
            <label for="placa">Placa</label>
            <input type="text" name="placa"
                   placeholder="Ingrese placa" required>
            </input>
        </p>

        <p>
            <label for="anio">Año</label>
            <input type="text" name="anio"
                   placeholder="Ingrese año" required>
            </input>
        </p>

        <p>
            <label for="costo">Costo</label>
            <input type="text" name="costo"
                   placeholder="Ingrese costo" required>
            </input>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}
