{% extends 'master.html' %}

{% block title %} Matriculas {% endblock %}
{% block content %}
    <div>

        <h1 class="title">Administrar Matriculas </h1>
        <hr>
        <div>

        <table>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Placa</th>
              <th>Año</th>
              <th>Costo</th>
              <th>Opciones</th>
          </tr>

        {% for m in matriculas %}
          <tr>
                <td><b>{{ m.id }}</b></td>
                <td>
                    <p class="name">{{ m.nombre }} </p>
                </td>
                <td>{{ m.placa }}</td>
                <td>{{ m.anio }}</td>
                <td>{{ m.costo }}</td>
                <td class="name">
                  [<a href="{{ url_for('matricula', matricula_id=m.id)}}">
                    Ver detalle
                  </a>]
                  [
                  <a href="{{ url_for('editar', matricula_id=m.id) }}">Editar</a>
                  ]
                </td>
            </tr>
        {% endfor %}
        </table>

        </div>
    </div>
{% endblock %}
