{% extends 'master.html' %}

{% block content %}
    <span class="title">
        <h1>Matricula - ({{ matricula.id }})</h1>
    </span>
    <div class="content">
            <div class="student">
                <p><b>Nombre:</b>{{ matricula.nombre }}</p>
                <hr>
                <p><b>Placa:</b>{{ matricula.placa }}</p>
                <hr>
                <p><b>Año:</b>{{ matricula.anio }}</p>
                <hr>
                <p><b>Costo:</b>{{ matricula.costo }}</p>
            </div>
    </div>
{% endblock %}
